* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: #111;
}

.main_container {
    width: 100vw;
    height: 100vh;

    position: relative;
}

.player1_board,
.computer_board {
    width: 500px;
    height: 500px;
    outline: 5px solid #666;
    background: linear-gradient(rgb(95, 95, 245), rgb(144, 247, 247));

    position: absolute;

    display: grid;
    grid-template-columns: repeat(10, 50px);
}

.player1_board {
    top: 50%;
    left: 50px;

    transform: translateY(-50%);
}

.computer_board {
    bottom: 50%;
    right: 50px;

    transform: translateY(50%);
}

.board_tile {
    border: 0.1px solid purple;
    cursor: crosshair;
}

.ship_part {
    background: violet;
}

.board_tile.hit,
.board_tile.no,
.board_tile[player="human"] {
    cursor: not-allowed;
}

.board_tile.no {
    user-select: none;
}

.board_tile.hit {
    background: blue;
}

.board_tile.ship_part.hit {
    background: rgb(243, 64, 64);
}

.ships_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ships_container .ship_part {
    width: 50px;
    height: 50px;
    border: 0.1px solid purple;
}

.ships_container .ship_container {
    cursor: move;
    margin: 0 auto;
}

.ship_container {
    display: flex;
    justify-content: center;

    position: relative;
}

button.change_orientation {
    border: none;
    background: cyan;
    box-shadow: inset 2px 0px 3px blue;

    cursor: pointer;

    border-radius: 50%;
    height: 10px;
    width: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.change_orientation:active {
    background: blue;
}

.vertical {
    flex-flow: column nowrap;
}

.being_dragged .ship_part {
    background: rgb(238, 130, 238, 0.7);
}

.placing_preview {
    background: lime;
}

[player="human"].board_tile {
    user-select: none;
}
